
@model CartView

@{
    ViewBag.Title = "Корзина";
}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>

            @await Html.PartialAsync("_CartInfo", @Model)
            
            @await Html.PartialAsync("_DoAction", @Model)

        </div>
    </section>
