@model  CatalogView
@{
    ViewBag.Title = "Продукция";
    Layout = "_LayoutDoubleSections";
}

    <div class="features_items">
        <h2 class="title text-center">Товары</h2>
        <!--features_items-->
        @await Html.PartialAsync("_ProductItems", Model.Products)


        <ul class="pagination">
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">»</a></li>
        </ul>

    </div>
