<h2>Category</h2>

@await Html.PartialAsync("LeftSideBar/_Accordion")

@await Html.PartialAsync("LeftSideBar/_BrandsProducts")

@await Html.PartialAsync("LeftSideBar/_PriceRange")

<div class="shipping text-center"><!--shipping-->
	<img src="~/images/home/shipping.jpg" alt="">
</div><!--/shipping-->
					