<h2>Category</h2>

@await Component.InvokeAsync("Section")

@await Component.InvokeAsync("Brand")

@await Html.PartialAsync("LeftSideBar/_PriceRange")

<div class="shipping text-center"><!--shipping-->
	<img src="~/images/home/shipping.jpg" alt="">
</div><!--/shipping-->
					